# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Invoker part 2.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\Documents\Unity Projects\Invoker part 2\.idea\.idea.Invoker part 2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
